@page "/ticketlist"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Ready2Ride.Shared;
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager



<h3>TicketList</h3>

@if (ticket == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Email</th>
                <th>BusName</th>
                <th>ScheduleDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var n in ticket)
            {
                <tr>
                    <td>@n.Id</td>
                    <td>@n.UserName</td>
                    <td>@n.Email</td>
                    <td>@n.BusName</td>
                    <td>@n.ScheduleDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<TicketDto>? ticket = new List<TicketDto>();

    protected override async Task OnInitializedAsync()
    {

        try
        {
            ticket = await Http.GetFromJsonAsync<List<TicketDto>>("api/Ticket");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }


    }



}
